html,body,div,ul,li,img{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
.outer,.banner{
    width: 1000px;
    height: 400px;
    margin: 100px auto;
    overflow: hidden;
    position: relative;
}
.swiper{
    /*//width: 4000px;*/
    position: absolute;
    height: 100%;

}
.swiper div{

    float: left;
    width: 1000px;
    height: 400px;
    background: url("../img/default.gif") no-repeat  center center;


}
.swiper div img{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.focus{
    margin-left: -36px;
    padding: 5px;
    border-radius: 10px ;
    background: rgba(0,0,0,.5);
    position: absolute;
    bottom: 15px;
    left: 50%;

}
.focus li{
    height: 12px;
    width: 12px;
    background: white;
    border-radius: 50%;
    margin: 0 3px 0;
    float: left;
    cursor: pointer;
}
.focus .select{
    background: salmon;
}

.left,.right{
    position: absolute;
    top: 50%;
    width: 30px;
    height: 40px;
    margin-top: -20px;
    background: url("../img/pre.png") no-repeat;
    opacity: .4;
    display: none;
}
.left:hover{
    opacity: 1;
}
.right:hover{
    opacity: 1;
}
.left{
    left: 0;
}
.right{
    right:0;
    background-position:-45px 0 ;
}
